mixin link(title, href, text)
  - if (typeof(text) === 'undefined') text = title
  - if (typeof(href) === 'undefined') href = '#'
  a(href=href, title=title)&attributes(attributes)
    if block
      block
    else
      !=text

mixin link-img(src, title, href, alt)
  - if (typeof(href) === 'undefined') href = '#'
  - if (typeof(alt) === 'undefined') alt = title
  a(href=href, title=title)&attributes(attributes)
    +img(alt="#{alt}", src="#{src}")
